{
  "projects": {
    "default": "mobile-app-equipment-sales",
    "production": "mobile-app-equipment-sales",
    "staging": "your-staging-firebase-project-id",
    "preview": "your-staging-firebase-project-id"
  }
}
